pipeline/SpotifyReplicator.json
{
	"name": "SpotifyReplicator",
	"properties": {
		"activities": [
			{
				"name": "read_landingLoadConfig",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "azure_sql",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select * from [dbo].[LandingLoadConfig];\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Forloop",
				"type": "ForEach",
				"state": "Active",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "read_landingLoadConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('read_landingLoadConfig').output.resultSets[0].rows\n",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "incremental_ingest",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "incremental_ingest",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"schema": {
										"value": "@item().SchemaName",
										"type": "Expression"
									},
									"table": {
										"value": "@item().TableName",
										"type": "Expression"
									},
									"cdc_col": {
										"value": "@item().cdc_col",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}